<div class="card custom-card">
    <!-- Top Section -->
    <div class="flex items-center mb-2">
        <p-avatar *ngIf="user?.avatar; else initial" [image]="user?.avatar | storageUrl" class="flex-none mr-2" size="xlarge" shape="circle"> </p-avatar>
        <p-button (onClick)="showDialog()" class="flex-1 custom-button" label="Create new post..." severity="secondary" outlined [fluid]="true" [style]="{ height: '4rem', 'font-size': '1.25rem' }"></p-button>

        <ng-template #initial>
            <p-avatar class="flex-none mr-2" [label]="user?.fullName?.toLocaleUpperCase()?.charAt(0) || '?'" size="xlarge" shape="circle"> </p-avatar>
        </ng-template>
    </div>

    <!-- Separator -->
    <hr class="my-4 border" />

    <!-- Bottom Section with 3 Buttons -->
    <div class="flex justify-between gap-2">
        <p-button (onClick)="showDialog()" label="Live Stream" icon="pi pi-video" severity="danger" text class="flex-1" [fluid]="true" size="large" [style]="{ height: '3rem' }"></p-button>
        <p-button (onClick)="showDialog()" label="Photo/Video" icon="pi pi-camera" severity="success" text class="flex-1" size="large" [fluid]="true" [style]="{ height: '3rem' }"></p-button>
        <p-button (onClick)="showDialog()" label="Others" icon="pi pi-plus" severity="help" text class="flex-1" size="large" [fluid]="true" [style]="{ height: '3rem' }"></p-button>
    </div>
</div>

<app-content-modal [visible]="visible" (visibleChange)="closeDialog()"></app-content-modal>
