::ng-deep .ql-editor {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom: 0 !important;
}

::ng-deep .p-editor-content {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom: 0 !important;
}

::ng-deep .p-fileupload {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 22rem;
    transition: margin-left var(--layout-section-transition-duration);
}
