<p-panel [toggleable]="false" class="bg-white dark:bg-gray-900 text-gray-900 dark:text-white rounded-lg shadow" *ngIf="content; else loadingState">
    <!-- HEADER -->
    <ng-template #header>
        <div class="flex items-center gap-3">
            <ng-container *ngTemplateOutlet="userAvatar; context: { $implicit: content.creator }"></ng-container>
        </div>
    </ng-template>

    <!-- ACTION ICONS -->
    <ng-template #icons>
        <span class="text-gray-500 dark:text-gray-400">{{ content.updatedAt | formatDate }}</span>
        <i class="ms-4 pi pi-ellipsis-v"></i>
    </ng-template>

    <!-- MEDIA CONTENT -->
    <div class="mt-4 relative">
        <ng-container *ngIf="hasImages || hasVideo">
            <img *ngIf="hasImages" [src]="content.storageUrl | storageUrl" alt="img" class="w-full max-h-100 object-cover rounded" [ngClass]="{ 'blur-lg pointer-events-none select-none': isPayPerView }" />

            <video *ngIf="hasVideo" controls [title]="content.title" class="w-full aspect-video rounded" [ngClass]="{ 'blur-md pointer-events-none select-none': isPayPerView }">
                <source [src]="content.storageUrl | storageUrl | safeUrl" type="video/mp4" />
                <track label="English" kind="captions" srclang="en" [attr.src]="null" default />
            </video>

            <!-- Paywall Overlay -->
            <div *ngIf="isPayPerView" class="absolute inset-0 bg-black bg-opacity-25 flex items-center justify-center rounded">
                <p-button [severity]="'primary'" size="large">
                    {{ content.price | currency }}
                </p-button>
            </div>
        </ng-container>
    </div>

    <!-- TITLE & DESCRIPTION -->
    <h3>{{ content.title }}</h3>

    <div class="mt-2 text-base break-words" [innerHTML]="displayDescription"></div>

    <div *ngIf="content.description.length > 200" class="mt-1">
        <button (click)="toggleDescription()" class="text-blue-500 hover:underline text-xs">
            {{ showFullDescription ? 'Show less' : 'Show more' }}
        </button>
    </div>

    <!-- FOOTER -->
    <ng-template #footer>
        <div class="flex items-center justify-between pt-2 border-t mt-2 dark:border-gray-700">
            <div class="flex items-center gap-2">
                <p-button icon="pi pi-heart" label="0 likes" rounded text class="text-red-500"></p-button>
                <p-button icon="pi pi-comment" label="0 comments" severity="secondary" text></p-button>
            </div>
            <p-button icon="pi pi-bookmark" severity="secondary" rounded text></p-button>
        </div>
    </ng-template>
</p-panel>

<!-- LOADING PLACEHOLDER -->
<ng-template #loadingState>
    <p-panel [toggleable]="false" class="bg-white dark:bg-gray-900 text-gray-900 dark:text-white rounded-lg opacity-50">
        <ng-template #header>
            <div class="flex items-center gap-3 mb-5">
                <p-skeleton shape="circle" size="3rem" styleClass="mr-2" />
                <div class="flex flex-col">
                    <p-skeleton width="10rem" styleClass="mb-2" />
                    <p-skeleton height=".5rem" />
                </div>
            </div>
        </ng-template>

        <p-skeleton width="100%" height="15rem" styleClass="mb-6" />
        <p-skeleton width="40rem" height="1.5rem" styleClass="mb-2" />

        <ng-template #footer>
            <div class="flex justify-between mt-4">
                <p-skeleton width="4rem" height="2rem" />
                <p-skeleton width="4rem" height="2rem" />
            </div>
        </ng-template>
    </p-panel>
</ng-template>

<ng-template #userAvatar let-user>
    <div class="flex items-center gap-3">
        <!-- Avatar or skeleton -->
        <ng-container *ngIf="user; else loading">
            <p-avatar *ngIf="user.avatar; else initial" [image]="user.avatar | storageUrl" size="large" shape="circle"> </p-avatar>
            <ng-template #initial>
                <p-avatar [label]="user.fullName?.toLocaleUpperCase()?.charAt(0) || '?'" size="large" shape="circle"> </p-avatar>
            </ng-template>

            <div class="flex flex-col">
                <a [routerLink]="['/', user.username]" class="text-xl font-bold text-base">
                    {{ user.fullName || 'Unknown User' }}
                </a>
                <span class="text-base text-gray-500 dark:text-gray-400">
                    {{ user.email || '-' }}
                </span>
            </div>
        </ng-container>

        <!-- Skeleton state -->
        <ng-template #loading>
            <p-skeleton shape="circle" size="3rem" styleClass="mr-2" />
            <div class="flex flex-col">
                <p-skeleton width="10rem" styleClass="mb-2" />
                <p-skeleton height=".5rem" />
            </div>
        </ng-template>
    </div>
</ng-template>
